__pycache__/Card_Stack.cpython-310.pyc
__pycache__/Card.cpython-310.pyc
__pycache__/Deck.cpython-310.pyc
__pycache__/Foundation.cpython-310.pyc
__pycache__/Game.cpython-310.pyc
__pycache__/Tableau.cpython-310.pyc
__pycache__